.start-screen {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100vh;
  }
}

.start-label-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  //transform: translateY(90px);

  img {
    width: 37vw;
    height: auto;
    &:hover {
      filter: brightness(1.20);
      cursor: pointer;
    }
  }
}
