.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/board.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;

  img {
    position: absolute;
    width: 110px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card {
  right: 25px;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-5deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-5deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.7);
  }

  60% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-5deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 1;
}

.btn-add {
  position: absolute;
  right: 32px;
  bottom: 32px;
  background-color: blanchedalmond;
  border-radius: 30%;
  display: flex;
}

.pin-bottom {
  position: absolute;
  bottom: 32px;
  left: 100px;
  right: 100px;

    @media (max-width: 720px) {
      bottom: 0;
      left: 0;
      right: 0;
    }
}

.scroll-container {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;

  app-player-mobile {
    margin-left: 8px;
  }
}

app-player, app-player-mobile {
  cursor: pointer;
  &:hover {
    filter: brightness(1.25);
  }
}

.game-over {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    max-width: 300px;       /* Desktop */
    width: 60vw;            /* responsiv Mobile */
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    filter: brightness(1.1) saturate(1.2);
    animation: fadeSlide 0.6s ease-out;
  }
}

.preloadImage {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  left: -9999px;
}
