.profile-container {
  .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

.picture-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
