.player {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  span {
   font-size: 16px;
   text-align: center;
  }

  background-color: #a39996af;

  img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: #a55e4cbf !important;
}
